language: bash

env:
  global:
  - IMAGE_NAME=spark-custom-addons

matrix:
  include:
  # Debian builds
{% for v in versions %}
  - services: docker
    env:
    - SPARK_VERSION={{ v.spark }}
    - HADOOP_VERSION={{ v.hadoop }}
    - AWS_JAVA_SDK_VERSION={{ v.aws_java_sdk }}
    - WITH_HIVE={{ v.with_hive }}
    - WITH_PYSPARK={{ v.with_pyspark }}
    - DIST=debian
{% endfor %}
  # Alpine builds
{# {% for v in versions %}
  - services: docker
    env:
    - SPARK_VERSION={{ v.spark }}
    - HADOOP_VERSION={{ v.hadoop }}
    - AWS_JAVA_SDK_VERSION={{ v.aws_java_sdk }}
    - WITH_HIVE={{ v.with_hive }}
    - WITH_PYSPARK={{ v.with_pyspark }}
    - DIST=alpine
{% endfor %} #}
  
script:
- HIVE_TAG_SUFFIX="$(if [ "${WITH_HIVE}" = "true" ]; then echo _hive; fi)"
- PYSPARK_TAG_SUFFIX="$(if [ "${WITH_PYSPARK}" = "true" ]; then echo _pyspark; fi)"
- DIST_TAG_SUFFIX="_${DIST}"
- TAG_NAME="${SPARK_VERSION}_hadoop-${HADOOP_VERSION}${HIVE_TAG_SUFFIX}${PYSPARK_TAG_SUFFIX}${DIST_TAG_SUFFIX}"
- |-
  docker build ${DIST}/ -t "${DOCKER_USERNAME}/${IMAGE_NAME}:${TAG_NAME}" \
    --build-arg "SPARK_VERSION=${SPARK_VERSION}" \
    --build-arg "HADOOP_VERSION=${HADOOP_VERSION}" \
    --build-arg "AWS_JAVA_SDK_VERSION=${AWS_JAVA_SDK_VERSION}" \
    --build-arg "HIVE_TAG_SUFFIX=${HIVE_TAG_SUFFIX}" \
    --build-arg "PYSPARK_TAG_SUFFIX=${PYSPARK_TAG_SUFFIX}" \
    --build-arg "DIST_TAG_SUFFIX=${DIST_TAG_SUFFIX}" \
    ;

deploy:
  provider: script
  script: bash push-images.sh

branches:
  only:
  - master
